/* 
    Document   : pingback2hook
    Created on : 19-Aug-2013, 19:09:38
    Author     : icewing
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div.p2h-item {
    
    margin-bottom: 20px;
    
}

div.p2h-item div.p2h-author-icon {
    margin-bottom: 5px;
    font-size: small;
}

div.p2h-item div.p2h-author-icon img {
    float: left;
    margin: 5px;
}

div.p2h-item div.p2h-comment-details {
    
}

div.p2h-item div.p2h-comment-details p.comment-meta {
   font-size: small; 
}

div.p2h-item div.p2h-comment-details p.summary {
    
}